---
layout: page
title: C - Tips on req42 & Agility
permalink: /category_c/
order: 5
---

<div id="search-results">
    <hr id="first-hr" class="with-no-margin"/>


    {% assign selected_posts = site.posts | where: "categories", "C-agility" | reverse %}
    {% assign sorted_titles = selected_posts | map: "title" | sort %}

    {% for title in sorted_titles %}
    <div class="article-wrapper">
        <article>
            {% assign post = selected_posts | where: "title", title | first %}
            {% include article-header.html page=post link=true share=false %}
        </article>
    </div>
    <hr class="with-no-margin"/>
    {% endfor %}
</div>





<script>
    function removeLeadingZeros(title) {
      return title.replace(/\b0+(\d+)/g, '$1');
    }

    // Get all the article titles and remove leading zeros before displaying them.
    const articleTitles = document.querySelectorAll('.article-wrapper h1 a.post-link');
    articleTitles.forEach((linkElement) => {
      const originalTitle = linkElement.textContent.trim();
      const trimmedTitle = removeLeadingZeros(originalTitle);
      linkElement.textContent = trimmedTitle;
    });
  </script>