---
layout: page
title: E - Tips on req42 & Tools
permalink: /category_e/
order: 7
---

<div id="search-results">
    <hr id="first-hr" class="with-no-margin"/>


    {% assign selected_posts = site.posts | where: "categories", "E-tools" | reverse %}
    {% assign sorted_titles = selected_posts | map: "title" | sort %}

    {% for title in sorted_titles %}
    <div class="article-wrapper">
        <article>
            {% assign post = selected_posts | where: "title", title | first %}
            {% include article-header.html page=post link=true share=false %}
        </article>
    </div>
    <hr class="with-no-margin"/>
    {% endfor %}
</div>





<script>
    function removeLeadingZeros() {
      const articleTitles = document.querySelectorAll('.article-wrapper h1[data-original-title]');
      articleTitles.forEach((titleElement) => {
        const originalTitle = titleElement.getAttribute('data-original-title');
        const trimmedTitle = originalTitle.replace(/\b0+(\d+)/g, '$1');
        titleElement.textContent = trimmedTitle;
      });
    }

    // Run the function after the content is loaded
    document.addEventListener('DOMContentLoaded', removeLeadingZeros);
    </script>