---
layout: page
title: A - Tips on req42 Sections
permalink: /category_a/
order: 3
---

<div id="search-results">
    <hr id="first-hr" class="with-no-margin"/>


    <h2> Section 01: Business Goals</h2>
    {% assign selected_posts = site.posts | where: "categories", "01-Visions:Goals" | reverse %}
    {% for post in selected_posts  %}
    <div class="article-wrapper">
        <article>
            {% include article-header.html page=post link=true share=false %}
        </article>
    </div>
    <hr class="with-no-margin"/>
    {% endfor %}


    <h2> Section 02: Stakeholders</h2>
    {% assign selected_posts = site.posts | where: "categories", "02-Stakeholder" | reverse %}
    {% for post in selected_posts  %}
    <div class="article-wrapper">
        <article>
            {% include article-header.html page=post link=true share=false %}
        </article>
    </div>
    <hr class="with-no-margin"/>
    {% endfor %}


    <h2> Section 03: Scope</h2>
    {% assign selected_posts = site.posts | where: "categories", "02-Scope" | reverse %}
    {% for post in selected_posts  %}
    <div class="article-wrapper">
        <article>
            {% include article-header.html page=post link=true share=false %}
        </article>
    </div>
    <hr class="with-no-margin"/>
    {% endfor %}


    <h2> Section 04: Product Backlog</h2>
    {% assign selected_posts = site.posts | where: "categories", "04-Product Backlog" | reverse %}
    {% for post in selected_posts  %}
    <div class="article-wrapper">
        <article>
            {% include article-header.html page=post link=true share=false %}
        </article>
    </div>
    <hr class="with-no-margin"/>
    {% endfor %}


    <h2> Section 05: Supporting Models</h2>
    {% assign selected_posts = site.posts | where: "categories", "05-Supporting Models" | reverse %}
    {% for post in selected_posts  %}
    <div class="article-wrapper">
        <article>
            {% include article-header.html page=post link=true share=false %}
        </article>
    </div>
    <hr class="with-no-margin"/>
    {% endfor %}


    <h2> Section 06: Quality Requirements</h2>
    {% assign selected_posts = site.posts | where: "categories", "06-Quality Requirements" | reverse %}
    {% for post in selected_posts  %}
    <div class="article-wrapper">
        <article>
            {% include article-header.html page=post link=true share=false %}
        </article>
    </div>
    <hr class="with-no-margin"/>
    {% endfor %}


    <h2> Section 07: Constraints</h2>
    {% assign selected_posts = site.posts | where: "categories", "07-Constraints" | reverse %}
    {% for post in selected_posts  %}
    <div class="article-wrapper">
        <article>
            {% include article-header.html page=post link=true share=false %}
        </article>
    </div>
    <hr class="with-no-margin"/>
    {% endfor %}


    <h2> Section 08: Domain Terminology</h2>
    {% assign selected_posts = site.posts | where: "categories", "08-Domain Terminology" | reverse %}
    {% for post in selected_posts  %}
    <div class="article-wrapper">
        <article>
            {% include article-header.html page=post link=true share=false %}
        </article>
    </div>
    <hr class="with-no-margin"/>
    {% endfor %}


    <h2> Section 09: Assets</h2>
    {% assign selected_posts = site.posts | where: "categories", "09-Assets" | reverse %}
    {% for post in selected_posts  %}
    <div class="article-wrapper">
        <article>
            {% include article-header.html page=post link=true share=false %}
        </article>
    </div>
    <hr class="with-no-margin"/>
    {% endfor %}


    <h2> Section 10: Teams</h2>
    {% assign selected_posts = site.posts | where: "categories", "10-Teams" | reverse %}
    {% for post in selected_posts  %}
    <div class="article-wrapper">
        <article>
            {% include article-header.html page=post link=true share=false %}
        </article>
    </div>
    <hr class="with-no-margin"/>
    {% endfor %}


    <h2> Section 11: Roadmap</h2>
    {% assign selected_posts = site.posts | where: "categories", "11-Roadmap" | reverse %}
    {% for post in selected_posts  %}
    <div class="article-wrapper">
        <article>
            {% include article-header.html page=post link=true share=false %}
        </article>
    </div>
    <hr class="with-no-margin"/>
    {% endfor %}


    <h2> Section 12: Risks / Assumptions </h2>
    {% assign selected_posts = site.posts | where: "categories", "12-Risks:Assumptions" | reverse %}
    {% for post in selected_posts  %}
    <div class="article-wrapper">
        <article>
            {% include article-header.html page=post link=true share=false %}
        </article>
    </div>
    <hr class="with-no-margin"/>
    {% endfor %}
</div>
