/* style for req42 docs website */

p {
  font-family: sans-serif;
}

.highlight-box {
    background-color: rgba(46, 75, 115, 0.1); /* Set the slightly transparent background color */
    padding: 15px;
    border: 2px solid #2E4B73; /* Set the border color to $brand-color */
    border-radius: 5px;
    font-size: 120%;
}

.styled-button {
    text-decoration: none;
    color: #d7ecf8; /* $site-title-color */
    display: inline-block;
    padding: 10px 20px;
    background-color: #2E4B73; /* $brand-color */
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.styled-button:hover {
    background-color: #1c2e4a; /* A slightly darker shade of $brand-color */
    text-decoration: none;
}

hr.content-sep {
    margin: 50px 0px 35px 0px;
    border-top: 2px solid #b8ddeb;
}


